doctype html
html
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport')
        title Administration
        link(rel='stylesheet' href='https://rsms.me/inter/inter.css')
        link(rel='stylesheet' href='/output.css')
        script(src='/alpine.js' defer='')
    body
        include ./mixins
        include ./sidebar-layout
        include ./modals