extends ../layouts/layout

block content
    .mt-10(class="sm:mt-0")
        form(action="/routier" method="POST")
            .mb-10.shadow.overflow-hidden(class="sm:rounded-md")
                .bg-white.px-4.py-5.border-b.border-gray-200(class="sm:px-6")
                    .-ml-4.-mt-2.flex.items-center.justify-between.flex-wrap(class="sm:flex-no-wrap")
                        .ml-4.mt-2
                            h3.text-lg.leading-6.font-medium.text-gray-900
                                | #{routier ? 'Centre routier : ' + routier.nomCentre : 'Nouveau centre'}
                        .ml-4.mt-2.flex-shrink-0
                            span.inline-flex.rounded-md.shadow-sm
                                a.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(href="/routier" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50")
                                    | Retour
                    
                    +hiddenInput('id', routier.id)
                    +textInput('id', 'Identifiant', routier.id, true)
                    +textInput('nomCentre', 'Nom', routier.nomCentre)
                    +checkbox('statutOuvert', routier.statutOuvert, 'Ouvert', 'Le centre est-il actuellement ouvert ?')
                    +textInput('type', 'Type', routier.type)
                    +textInput('departement', 'Département', routier.departement)
                    +textInput('voie', 'Voie', routier.voie)
                    +textInput('adresse', 'Adresse', routier.adresse)
                    +textInput('com', 'Commentaire', routier.com)
                    +textInput('lat', 'Latitude', routier.lat)
                    +textInput('lon', 'Longitude', routier.lon)

                +formFooter("routier", routier.id)
