@tailwind base;

@tailwind components;

@tailwind utilities;

.tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: -120%;
    transform: translateX(-50%);
    width: 262px;
}

[x-cloak] {
    display: none !important;
}

.tooltip {
    display: inline-block;
    position: relative;
    cursor: help;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}
